In [1]:
import pandas as pd

In [2]:
two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89,31]]

In [8]:
my_df=pd.DataFrame(two_dimensional_list,columns=['name','english_score','math_score'], index=['a','b'])

In [9]:
my_df

       name  english_score  math_score
a  dongwook             50          86
b    sineui             89          31

In [13]:
names = ['dongwook', 'sineui', 'ikjoong', 'yoonsoo']
english_scores = [50, 89, 68, 88]
math_scores = [86, 31, 91, 75]

In [17]:
dict1={
    'name':names,
    'english_score':english_scores,
    'math_score':math_scores
}

dict3={
    'name': pd.Series(names),
    'english_score': pd.Series(english_scores),
    'math_score':pd.Series(math_scores)
}

df3=pd.DataFrame(dict3)
df3

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

In [24]:
two_dimensional_list = [['dongwook',56,60],['sieui', 89,23]]
my_df = pd.DataFrame(two_dimensional_list, columns=('name', 'english_score', 'math_score'), index = ('a', 'b'))
my_df

       name  english_score  math_score
a  dongwook             56          60
b     sieui             89          23

In [5]:
iphone_df=pd.read_csv('/Users/donghyunyoo/Downloads/iphone.csv',index_col=0)
iphone_df= pd.DataFrame(iphone_df)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [10]:
iphone_df.loc['iPhone 8', '메모리']

'2GB'

In [11]:
iphone_df.loc['iPhone 8', '메모리'] = '2.5GB'

In [13]:
iphone_df.loc['iPhone 8', '출시 버전']= 'iOS 10.3'

In [15]:
iphone_df.loc['iPhone 8']

출시일        2017-09-22
디스플레이             4.7
메모리             2.5GB
출시 버전        iOS 10.3
Face ID            No
Name: iPhone 8, dtype: object

In [ ]:
iphone_df.loc[]